snippet brief "Doxygen \brief block" b
/*! \brief
 *  $0
 */
endsnippet

snippet try "try/catch" b
try {
	$0
} catch (${1:std::exception &e}) {
}
endsnippet

snippet ns "namespace" b
namespace ${1:name} {

$0

}  // namespace $1
endsnippet
