snippet #! "#!/usr/bin/env ..." b
#!/usr/bin/env python3
# encoding: utf-8
$0
endsnippet

# Imports
snippet np "import numpy" b
import numpy as np
$0
endsnippet

snippet sp "import scipy" b
import scipy as sp
$0
endsnippet

snippet plt "import matplotlib.pyplot" b
import matplotlib.pyplot as plt
$0
endsnippet
